<template>
  <div class="container">
    <h1 class="page-title text-accent">Let's Play</h1>
    <p class="text-muted">Be the first!</p>

    <div class="list">
      <div class="list_item" v-for="(quiz, index) in quizzes" :key="index">
        <img
          class="list_item--img"
          :src="require(`./assets/images/${quiz.icon}`)"
          alt=""
        />
        <div class="list_item--content">
          <div class="list_item--title">{{ quiz.title }}</div>
          <div class="list_item--description">
            Level: <span>{{ quiz.level }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Quizzes from "./data/quizzes.json";

export default {
  name: "App",
  data: () => ({
    quizzes: Quizzes,
  }),
  components: {},
};
</script>

<style lang="scss">
.text-accent {
  color: #fa5c7d;
}

.text-muted {
  color: #767676;
}

.page-title {
  font-size: 48px;
  line-height: 1.25em;
}

.list {
  margin: 15px 0;

  &_item {
    position: relative;
    padding: 60px 0 0;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &--img {
      position: absolute;
      top: 0;
      right: 20px;
      max-width: 100px;
    }

    &--content {
      background-image: linear-gradient(45deg, #ff8a8a, #ffff8d);
      padding: 10px 15px;
      border-radius: 20px;
    }

    &--title {
      font-size: 24px;
      font-weight: 700;
    }

    &--description {
      color: #333;
      font-size: 14px;
    }
  }
}
</style>
